.ednote {
	font-size: 80%; font-style: italic
}
div.toc ul {
	list-style: none
}
.new {
	color: blue
}
pre.example {
	color: green; font-family: monospace; font-weight: bold;
	margin-left: 0px; margin-right: 0px; white-space: pre
}
pre.dtd {
	font-family: monospace; font-weight: normal; margin-left: 0px;
	margin-right: 0px; white-space: pre
}
div.toc, div.subtoc {
	background-color: #ccccff;
	border: none;
	margin-right: 5%;
}
code {
	color: #660099; font-family: monospace; font-weight: bold
}
.ref {
	font-weight: bold
}
.normref {
	font-weight: bold
}
div.navbar {
	text-align: center
}
.center {
	text-align: center
}
.alphalist {
	list-style: upper-alpha
}
.codelist {
	
}
dl.codelist dt {
	color: #660099; font-family: mono; font-style: normal;
	font-weight: normal
}
.termlist {
	
}
dl.termlist dt {
	color: #330000; font-weight: bold
}
a.entity {
	color: red
}
a.element {
	color: green
}
.elements {
	color: green; font-family: mono; font-weight: bold
}
.attributes {
	color: red; font-family: mono; font-weight: bold
}
.content {
	color: blue; font-family: mono; font-weight: bold
}
.dfn {
	color: #400040; font-style: italic; font-weight: bold
}
tt {
	color: #4000af
}
dl.desc {
	margin-left: 5%; margin-right: 5%
}
.sect2 {
	margin-left: 5%; margin-right: 5%
}
.element {
	color: #f00000; font-weight: bold
}
.attlist {
	color: #f06000; font-weight: bold
}
.pentity {
	color: #000080
}
span.attlistid {
	color: gray; font-size: smaller; vertical-align: super
}
span.elementid {
	color: gray; font-size: 80%; vertical-align: super
}
span.fixme {
	color: red
}
table.moduledef {
	border-bottom: red solid; border-left: red solid;
	border-right: red solid; border-top: red solid; width: 100%
}
.tm, .reg {
	vertical-align: super; font-size: smaller
}

div.head {
	display: block;
	border-width: 0;
	border-bottom-width: thin;
	border-style: groove;
	padding-bottom: 2em;
}

div.note {
	margin-left: +5%;
	font-size: 80%;
}
