#!/usr/bin/make -f

PKG  := $(shell dh_listpackages)
TMP  := $(CURDIR)/debian/$(PKG)
LEGACY := $(CURDIR)/debian/w3c-dtd-xhtml

%:
	dh $@ 

override_dh_auto_build:
	dh_auto_build
	$(CURDIR)/debian/generate_catalog_stuff.pl

override_dh_install:
	dh_install
	dh_installxmlcatalogs

override_dh_installchangelogs:
	# Take all but the last 25 lines of the package changelog
	sed -n -e :a -e'1,25!{P;N;D};N;ba' debian/changelog > $(LEGACY).changelog
	# and combine with all of the legacy changelog
	cat $(CURDIR)/debian/legacy/changelog >> $(LEGACY).changelog
	dh_installchangelogs

